* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial";
}

:root {
    /* Set of color */
    --primary-color: #213448; 
    --secondary-color: #547792;
    --thirdary-color: #94B4C1;
    --forth-color: #ECEFCA;
}

body {
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

header { 
    display : flex;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    gap: 20px;
    height: 100px;
    align-items: center;
}

#todo {
    justify-self: self-start;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#content {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto; 
}

.copyright {
    display: flex;
    background-color: var(--primary-color);
    color: var(--forth-color);
    padding : 40px 20% 40px 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: self-end;
    height: 80px;
}

/* Sidebar */

#navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    width: 250px;
    min-height: max-content;
}

#nav_top, #nav_bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    button {
        text-align: left;
        background-color: transparent;
        color: var(--third-color);
        border: none;
        appearance: none;
        padding: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--forth-color);
            color: var(--primary-color);
        }
    }
}

#navigation button {
    display: flex;
    align-items: center;
    gap: 15px; /* espace entre image et texte */
}

#navigation button img {
    width: 20px;
    height: 20px;
}

#nav_bottom #projects {
    font-weight: bold;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    appearance: none;
    letter-spacing: 2px;
    padding: 15px 20px;
    font-size: 1.3rem;
    margin-left: -20px;
    box-sizing: border-box;
    width: calc(100% + 40px);
}

/* //Main content */

#main {
    padding:50px;
    width: 100%;
}

.task, #addtask {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    color: var(--primary-color);
}

#addtask {
    padding-left: 10px;
}

.task {
    border: 1px solid var(--primary-color);
    padding: 10px;
    width : 100%;
    border-radius: 5px;
}

radio {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.taskcontainer {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    color: var(--primary-color);
    margin-bottom: 20px;
    gap: 10px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

  }
  
  .task-icons {
    display: flex;
    gap: 15px;
  }
  
  .task-icon {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .task-icon:hover, #addtask:hover img {
    transform: scale(1.1);
  }
  