* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial";
}

:root {
    /* Set of color */
    --primary-color: #213448; 
    --secondary-color: #547792;
    --thirdary-color: #94B4C1;
    --forth-color: #ECEFCA;
}

body {
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

header { 
    display : flex;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    gap: 20px;
    height: 100px;
    align-items: center;
}

#todo {
    justify-self: self-start;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#content {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto; 
}

.copyright {
    display: flex;
    background-color: var(--primary-color);
    color: var(--forth-color);
    padding : 40px 20% 40px 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: self-end;
    height: 80px;
}

/* Sidebar */

#navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    width: 250px;
    min-height: max-content;
}

#nav_top, #nav_bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    button {
        text-align: left;
        background-color: transparent;
        color: var(--third-color);
        border: none;
        appearance: none;
        padding: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--forth-color);
            color: var(--primary-color);
        }
    }
}

#navigation button {
    display: flex;
    align-items: center;
    gap: 15px; /* espace entre image et texte */
}

#navigation button img {
    width: 20px;
    height: 20px;
}

#nav_top button, #nav_bottom button {
    font-weight: bold;
    text-align: left;
    appearance: none;
    padding: 15px 20px;
    margin-left: -20px;
    box-sizing: border-box;
    width: calc(100% + 40px);

    :active {
        background-color: rgb(71, 23, 43);
        color: var(--primary-color);
    }
}


#nav_bottom #projects {
    font-weight: bold;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    appearance: none;
    letter-spacing: 2px;
    padding: 15px 20px;
    font-size: 1.3rem;
    margin-left: -20px;
    box-sizing: border-box;
    width: calc(100% + 40px);
}

/* //Main content */

#main {
    padding:30px;
    width: 100%;
}

.task, #addtask{
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

#addtask {
    gap: 15px;
    flex-direction: row;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid var(--primary-color);
    padding: 10px;
    width : 100%;
    border-radius: 5px;
}

.subtask-left {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.taskcontainer {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    color: var(--primary-color);
    margin-bottom: 20px;
    gap: 10px;
}

.subtask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subtask1 {
    padding-left : 5px;
    align-self: self-start;
    font-size: 0.75rem;
    color : var(--primary-color);
}
  
.subtask-today {
    color: red;
    font-weight: bold;
  }
  
  .task-icons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .task-icon {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .task-icon:hover, #addtask:hover img {
    transform: scale(1.1);
  }
  

  .add-task-button, .cancel-task-button {
    background-color: var(--primary-color);
    color: var(--forth-color);
    border: none;
    appearance: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--secondary-color);
        color: var(--forth-color);
    }
    &:active {
        background-color: var(--thirdary-color);
        color: var(--primary-color);
    }
  }


.container-btn {
appearance: none;
border: none;
display: flex;
flex: 1;
flex-direction: row;
gap: 10px;
border-radius: 5px;
background-color: white;
color: var(--primary-color);
width: clamp(200px, 100%, 400px);
margin-bottom: 20px;
}

.add-task-button, .cancel-task-button {
width : 50%;
}

#navigation button.active {
background-color: var(--thirdary-color);
color: var(--forth-color);
}
  
.task[data-completed="true"] {
    .subtask {
        
        color: var(--thirdary-color);
    }
    color: var(--thirdary-color);
    background-color: var(--forth-color);
}

.confirm-edit, .cancel-edit {
    background-color: var(--primary-color);
    color: white;
    margin-right: 10px;
    border: none;
    height: 30px;
    width: 30px;
    appearance: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    padding: 0px 3px;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--secondary-color);
        color: var(--forth-color);
    }
}

input[type="text"] {
    border: 1px solid var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    color: var(--primary-color);
}

.edit-task-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.project-wrapper {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
}

#navigation .project-button .delete-project-button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    color: var(--forth-color);
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

#navigation .project-button:hover .delete-project-button {
    color: var(--primary-color);
    transition: transform 0.3s;
    transition: color 0.3s;
    width: fit-content;
}
  
#navigation .project-button .delete-project-button:hover {
    color: var(--primary-color);
    transition: transform 0.3s;
    transform: scale(1.5);
}